@font-face {
    font-family: 'Venti CF';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/VentiCF-Medium.woff');
}

@font-face {
    font-family: 'Venti CF';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/VentiCF-Regular.woff');
}

@font-face {
    font-family: 'Venti CF';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/VentiCF-Bold.woff');
}