.advantages {
    padding-top: 80px;
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
    &__item {
        background: #F6F6FA;
        border-radius: 5px;
        padding: 24px 24px 24px 40px;
        display: flex;
        align-items: center;
        gap: 30px;
        font-weight: 500;
        font-size: 30px;
        letter-spacing: 0.02em;
        span {
            max-width: 504px;
        }
    }
}

@media (max-width: 1399px) {
    .advantages__item {
        font-size: 25px;
    }
}

@media (max-width: 1199px) {
    .advantages__item {
        padding: 20px;
        font-size: 22px;
    }
}

@media (max-width: 991px) {
    .advantages__wrapper {
        grid-template-columns: minmax(0, 574px);
        justify-content: center;
        gap: 30px;
    }
}

@media (max-width: 575px) {
    .advantages__item {
        padding: 20px 13px;
        gap: 11px;
        font-size: 17px;
        img {
            width: 50px;
        }
    }
    .advantages {
        padding-top: 40px;
    }
    .advantages__wrapper {
        gap: 12px;
    }
}