.button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #7166DD;
    border-radius: 4px;
    font-weight: 500;
    font-size: 19px;
    line-height: 200%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    transition: all 0.3s;
    &:hover {
        background: #7166DD;
        color: #fff;
    }
    &:active {
        background: #5647db;
        transition: none;
    }
}