.promo {
    color: #fff;
    .container {
        background: url('../img/promo/bg.jpg') center top / cover no-repeat;
        padding: 40px;
        height: 830px;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    &__title {
        font-weight: 700;
        font-size: 110px;
        line-height: 0.88;
        span {
            color: rgba($color: #fff, $alpha: 0.7);
            position: relative;
            display: inline-block;
            &::before {
                content: '';
                display: block;
                width: 100%;
                height: 5px;
                background: #fff;
                position: absolute;
                left: 0;
                top: 70%;
                transform: rotate(-12deg);
            }
        }
    }
    &__subtitle {
        margin-top: 55px;
        font-size: 20px;
        line-height: 0.95;
        letter-spacing: 0.01em;
    }
    &__bottom {
        margin-top: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__buttons {
        display: flex;
        align-items: center;
        gap: 28px;
    }
    .button {
        height: 76px;
        width: 285px;
        &_transparent {
            width: 324px;
            background: none;
            border: 1px solid #FFFFFF;
            color: #fff;
            &:hover {
                border: none;
            }
        }
    }
    &__guarantee {
        width: 292px;
        height: 69px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba($color: #fff, $alpha: 0.2);
        border-radius: 4px;
        gap: 8px;
        font-weight: 500;
        font-size: 19px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        text-transform: uppercase;
    }
}

@media (min-width: 1656px) {
    .promo .container {
        width: 1596px;
    }
}

@media (max-width: 1599px) {
    .promo__title {
        font-size: 95px;
    }
}

@media (max-width: 1399px) {
    .promo__title {
        font-size: 84px;
    }
}

@media (max-width: 1199px) {
    .promo__title {
        font-size: 70px;
    }
    .promo .button {
        width: 240px;
        height: 65px;
    }
    .promo .button_transparent {
        width: 240px;
    }
    .promo__guarantee {
        height: 65px;
    }
}

@media (max-width: 991px) {
    .promo__bottom {
        flex-direction: column;
        align-items: start;
        gap: 30px;
    }
}

@media (max-width: 767px) {
    .promo__title {
        font-size: 53px;
    }
    .promo__subtitle {
        margin-top: 25px;
    }
    .promo__bottom {
        margin-top: 40px;
    }
    .promo__buttons {
        flex-direction: column;
    }
}

@media (max-width: 575px) {
    .promo .container {
        padding: 12px;
        height: 600px;
    }
    .promo__title {
        font-size: 38px;
    }
    .promo__title span::before {
        height: 3px;
    }
    .promo__subtitle {
        margin-top: 15px;
        font-size: 16px;
    }
    .promo__bottom {
        margin-top: 26px;
        gap: 26px;
    }
    .promo__buttons {
        width: 100%;
        gap: 10px;
        .button {
            width: 100%;
            height: 56px;
            font-size: 16px;
        }
    }
    .promo__guarantee {
        width: 100%;
        font-size: 12px;
        height: 50px;
        br {
            display: none;
        }
        img {
            width: 22px;
        }
    }
}